*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: coral;
    color: white;
    line-height: 1.8;
}

a{
    text-decoration: none;
}

#container{
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
}

.form-wrap{
    background-color: slateblue;
    padding: 15px 25px;
    color:#333;

}

.form-wrap h1,
.form-wrap p{
    text-align: center;
}

